<div class="comment_box center">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <% if comment.email != nil %>
      <% if !comment.email.empty? %>
          <p>
            <strong>Email: </strong>
            <%= mail_to comment.email %>
          </p>
      <% end %>
  <% end %>
</div>