 <div class="landing_page">
    <%=link_to 'My Blog', controller: 'articles' %>

    <ul>
      <% @articles.each do |article| %>
          <li>
            <%= article.title %><br />
            <%= article.content %>
          </li>
      <% end %>
    </ul>
  </div>
